{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <center>
        <h1> About Supra<span class="badge badge-secondary"></span></h1>

        <div>
            <p >The Toyota Supra (Japanese: トヨタ・スープラ, Hepburn: Toyota Sūpura) is a sports car and grand tourer manufactured by the Toyota Motor Corporation beginning in 1978. The name "supra" is derived from the Latin prefix, meaning "above", "to surpass" or "go beyond".[3]

                The initial four generations of the Supra were produced from 1978 to 2002. The fifth generation has been produced since March 2019 and went on sale in May 2019.[4] The styling of the original Supra was derived from the Toyota Celica, but it was both longer and wider.[5] Starting in mid-1986, the A70 Supra became a separate model from the Celica. In turn, Toyota also stopped using the prefix Celica and named the car Supra.[6] Owing to the similarity and past of the Celica's name, it is frequently mistaken for the Supra, and vice versa. The first, second and third generations of the Supra were assembled at the Tahara plant in Tahara, Aichi, while the fourth generation was assembled at the Motomachi plant in Toyota City. The 5th generation of the Supra is assembled alongside the G29 BMW Z4 in Graz, Austria by Magna Steyr.
                
                The Supra traces much of its roots back to the 2000GT owing to an inline-6 layout. The first three generations were offered with a direct descendant to the Crown's and 2000GT's M engine. Interior aspects were also similar, as was the chassis code "A". Along with this name, Toyota also included its own logo for the Supra. It was derived from the original Celica logo, being blue instead of orange. This logo was used until January 1986, when the A70 Supra was introduced. The new logo was similar in size, with orange writing on a red background, but without the dragon design. That logo, in turn, was on Supras until 1991 when Toyota switched to its current oval company logo. The dragon logo was a Celica logo regardless of what colour it was. It appeared on the first two generations of the Supra because they were officially Toyota Celicas. The dragon logo was used for the Celica line until it was also discontinued.[citation needed]
                
                In 1998, Toyota ceased sales of the fourth-generation Supra in the United States.[6] Production of the fourth-generation Supra for worldwide markets ended in 2002. In January 2019, the fifth-generation Supra, which was co-developed with the G29 BMW Z4, was introduced.[7]
                
                First generation (A40/A50; 1978)
                First generation
                
                Toyota Celica Supra (MA47)
                Overview
                Model code	
                A40A50
                Also called	
                Toyota Celica XX (Japan)
                Toyota Celica Supra
                Production	April 1978 – June 1981[1]
                Model years	1979-1981
                Assembly	Japan: Tahara, Aichi (Tahara plant)[8]
                Body and chassis
                Related	
                Toyota Carina (A40)
                Toyota Celica (A40)
                Powertrain
                Engine	
                1988 cc M-EU I6
                2563 cc 4M-E I6
                2759 cc 5M-E I6
                Transmission	
                5-speed W50 manual
                4-speed A40D automatic
                4-speed A43D automatic
                Dimensions
                Wheelbase	2,630 mm (103.5 in)
                Length	4,600–4,615 mm (181.1–181.7 in)
                Width	1,650 mm (65.0 in)
                Height	1,290–1,310 mm (50.8–51.6 in)
                Curb weight	1,150–1,270 kg (2,535–2,800 lb)
                The first generation of the Supra was based largely upon the Toyota Celica liftback, but was longer by 129.5 mm (5.10 in). The doors and rear section were shared with the Celica but the front panels were elongated to accommodate the Inline-6 instead of the Celica's 4-cylinder engine. Toyota's original plan for the Supra at this time was to make it a competitor to the very popular Datsun (now Nissan) Z-car.
                
                1978
                In April 1978, Toyota began production of the Supra in Japan, as the Celica XX, and sold it alongside the Celica at Japanese dealership sales channels called Toyota Corolla Store.
                
                The Supra was offered with a 125 PS (92 kW; 123 hp) 2.0 L 12-valve SOHC inline-six engine (M-EU, chassis code MA45) or the 82 kW (110 hp; 111 PS) 2.6-litre 12-valve SOHC inline-six engine (4M-E, chassis code MA46). The Japanese model was equipped with the smaller 2.0 L engine so that buyers would not incur an additional tax under vehicle size and engine displacement regulations. Both engines were equipped with electronic fuel injection.[6][9] The installation of the larger engine did obligate Japanese buyers to pay a higher annual road tax, making owning the car more expensive than the smaller Celica.
                
                The Supra was first exported outside Japan in January 1979.[10] The federalized model was originally equipped with a 110 hp (82 kW; 112 PS) 2.6-litre 12-valve SOHC inline-6 engine.</p>
        </div>
        <a href="{% url 'bootstrap' %}" class="btn btn-warning"> Go back</a>

    </center>
</body>
</html>