{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <center>
        <h1>About Polo</h1>

    </center>
    <p>The Volkswagen Polo is a supermini car (B-segment) produced by the German car manufacturer Volkswagen since 1975. It is sold in Europe and other markets worldwide in hatchback, saloon, and estate variants throughout its production run.

        History
        As of 2018, six separate generations of the Polo have been produced, usually identified by a "Series" or "Mark" number.[1]
        
        Some generations were facelifted midway through production, with the updated versions known unofficially by an addition of the letter F to the mark number, e.g., Mk2F. Some members of the automotive press and some enthusiasts consider the facelifts to be separate models, so have used the unofficial designations Polo Mk1 to Mk7 for previous generations.[2] Each Polo model is also identified by a two- or three-character Volkswagen Group Typ number. Official VW Polo history describes Mark I to Mark IV using either Roman numerals[1] or Arabic numerals, with facelifted variants known as "Phase II" models.[3]
        
        The body style has been varied through the life of the car, originally as a hatchback, which derived from the Audi 50.[2] A saloon version was marketed as the Volkswagen Derby.
        
        Volkswagen vehicles built on different platforms have carried the Polo nameplate. For example, the Volkswagen Polo Playa hatchback sold in Southern Africa in the late 1990s was a rebadged SEAT Ibiza, which has a different body shell from the Polo Mk3 sold in Europe at the same time. The current[when?] saloon is only available in China, Latin America, and South Africa and other Southern African countries.
        
        Starting in 1982, Volkswagen sold the Polo in Japan initially through an agreement with Japanese dealership Yanase that specializes in European and North American vehicles. Of all Volkswagens imported into Japan, only the Polo (until 2017) and the Golf (until 1997), complied with Japanese government dimension regulations until the introduction of the VW Up! in 2012.
        
        Related models
        The first Polo was effectively a rebadged version of the Audi 50 hatchback launched in August 1974.[2] The Audi 50 was discontinued in 1978, as Audi concentrated on larger luxury models. The Mk1 and Mk2 versions of the Polo were then standalone models in the Volkswagen range.
        
        With the expansion of the Volkswagen Group: Audi (in the 1960s), SEAT (in the 1980s), and Škoda (in the 1990s) were acquired, and the platform used for the Polo was shared with other models.
        
        The Polo shared its platform with the SEAT Ibiza Mk2. The Ibiza was actually launched before the Polo Mk3 and shared essentially all its mechanicals, the dashboard, and other interior components, although no body panels were shared between the two cars. The saloon and estate versions of the Polo Mk3 were actually rebadged SEAT Córdoba models and had no body panels in common with the Polo hatchback. The SEAT Inca and Volkswagen Caddy vans were also based on this model. The Volkswagen Lupo and SEAT Arosa were also based on a shortened version of the Polo Mk3 platform.
        
        The Polo Mk4 continued this trend of platform sharing, with the SEAT Ibiza Mk3 and Škoda Fabia Mk1 and Mk2 both being developed on the same platform and featuring several of the same engines.
        
        The 2009 Polo Mk5 is developed on the latest platform, known as the PQ25, the same platform used in the SEAT Ibiza Mk4 that was launched in 2008 and the Audi A1.</p>
    <center>
        <a href="{% url 'bootstrap2' %}" class="btn btn-primary">Go Back</a>
    </center>
</body>
</html>